*.ipch
*.vcxproj
*.filters
*.user
*.vcxproj.filters
*.vcxproj.user
*.vs
*.vscode
*.idea
*.sln
*.cdr

# Visual Studio extension resources
ORigin.sln.startup.json
ORigin.sln.licenseheader

# folder
bin/
bin-int/
scripts/__pycache__