[submodule "ORigin/vendor/stb_image"]
	path = ORigin/vendor/stb_image
	url = https://github.com/kaks-ev/stb_image.git
[submodule "ORigin/vendor/yaml-cpp"]
	path = ORigin/vendor/yaml-cpp
	url = https://github.com/kaks-ev/yaml-cpp.git
[submodule "ORigin/vendor/glfw"]
	path = ORigin/vendor/glfw
	url = https://github.com/kaks-ev/glfw.git
[submodule "ORigin/vendor/entt"]
	path = ORigin/vendor/entt
	url = https://github.com/kaks-ev/entt.git
[submodule "ORigin/vendor/ImGui"]
	path = ORigin/vendor/ImGui
	url = https://github.com/kaks-ev/imgui.git
[submodule "ORigin/vendor/glad"]
	path = ORigin/vendor/glad
	url = https://github.com/kaks-ev/glad.git
[submodule "ORigin/vendor/glm"]
	path = ORigin/vendor/glm
	url = https://github.com/kaks-ev/glm.git
[submodule "ORigin/vendor/spdlog"]
	path = ORigin/vendor/spdlog
	url = https://github.com/kaks-ev/spdlog.git
