[submodule "ORigin/vendor/glfw"]
	path = ORigin/vendor/glfw
	url = https://github.com/kaks-ev/glfw.git
[submodule "ORigin/vendor/ImGui"]
	path = ORigin/vendor/ImGui
	url = https://github.com/kaks-ev/imgui.git
[submodule "ORigin/vendor/glad"]
	path = ORigin/vendor/glad
	url = https://github.com/kaks-ev/glad.git
[submodule "ORigin/vendor/glm"]
	path = ORigin/vendor/glm
	url = https://github.com/kaks-ev/glm.git
[submodule "ORigin/vendor/ImGuizmo"]
	path = ORigin/vendor/ImGuizmo
	url = https://github.com/kaks-ev/ImGuizmo.git
[submodule "ORigin/vendor/Box2D"]
	path = ORigin/vendor/Box2D
	url = https://github.com/erincatto/box2d.git
[submodule "ORigin/vendor/yaml-cpp"]
	path = ORigin/vendor/yaml-cpp
	url = https://github.com/kaks-ev/yaml-cpp.git
[submodule "ORigin/vendor/stb_image"]
	path = ORigin/vendor/stb_image
	url = https://github.com/kaks-ev/stb_image.git
