*.ipch
*.vcxproj
*.csproj
*.filters
*.user
*.vcxproj.filters
*.vcxproj.user
*.vs
*.vscode
*.idea
*.sln
*.cdr

# Visual Studio extension resources
ORigin.sln.startup.json
ORigin.sln.licenseheader

# folders
Binaries/
scripts/__pycache__

ORigin/vendor/projectFiles
ORigin/vendor/VulkanSDK

ORigin-Editor/Rssets/Cache/
ORigin-Editor/Resources/ScriptCore/
ORigin-Editor/Resources/intermediates/

ORigin-Editor/SandboxProject/Intermediates/
