[submodule "Origin/vendor/glm"]
	path = ORigin/vendor/glm
	url = https://github.com/kaks-ev/glm.git
[submodule "Origin/vendor/ImGuizmo"]
	path = ORigin/vendor/ImGuizmo
	url = https://github.com/kaks-ev/ImGuizmo.git
[submodule "Origin/vendor/Box2D"]
	path = ORigin/vendor/Box2D
	url = https://github.com/erincatto/box2d.git
[submodule "Origin/vendor/yaml-cpp"]
	path = ORigin/vendor/yaml-cpp
	url = https://github.com/kaks-ev/yaml-cpp.git
[submodule "Origin/vendor/mono"]
	path = ORigin/vendor/mono
	url = https://github.com/kaks-ev/mono.git
[submodule "Origin/vendor/msdf-atlas-gen"]
	path = ORigin/vendor/msdf-atlas-gen
	url = https://github.com/kaks-ev/msdf-atlas-gen.git
[submodule "Origin/vendor/JoltPhysics"]
	path = ORigin/vendor/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "Origin/vendor/Optick"]
	path = ORigin/vendor/Optick
	url = https://github.com/bombomby/optick.git
[submodule "Origin/vendor/origin-glfw"]
	path = ORigin/vendor/origin-glfw
	url = https://github.com/evangelionmanuhutu/origin-glfw.git
[submodule "Origin/vendor/imgui"]
	path = ORigin/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ORigin/vendor/PhysX"]
	path = ORigin/vendor/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
